faiss-cpu==1.8.0.post1
GitPython==3.1.41
google-ai-generativelanguage==0.6.6
google-api-core==2.19.0
google-api-python-client==2.133.0
google-auth==2.30.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-generativeai==0.7.2
googleapis-common-protos==1.63.1
langchain==0.2.12
langchain-community==0.2.11
langchain-core==0.2.28
langchain-google-genai==1.0.8
langchain-openai==0.1.20
langchain-text-splitters==0.2.2
langsmith==0.1.96
pipreqs==0.4.13
PyPDF2==3.0.1
sentence-transformers==3.0.1
streamlit==1.31.0
